.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfstate.backup

# Local override files
*.tfvars
!example.tfvars
!prod.tfvars
*.tfvars.json
backend.tf
backend.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Build artifacts
dist/
